html a {
    text-decoration: none;
    color: white;
}
strong {
    color: #666666;
}
.style {
    width: 100%;
    height: 100px;
    background-color: #0A0A0A;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;  
}
.header .logo {
    cursor: pointer;
    user-select: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .nav-list {
    display: flex;
    margin: 0;
}
.nav-list li {
    padding: 20px;
    list-style: none;
    transition: all 0.8s;
}
.nav-list li:nth-child(1) {
    background-color: #494848;
    border-radius: 10px;
}
.lienhe {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.nav-list li:hover, .lienhe:hover {
    background-color: #494848;
    border-radius: 10px;
}
.up img {
    width: 100%;
    margin: 0px auto;
}
.down img {
    width: 100%;
}
.bbq .container {
    display: flex;
    align-items: center;
}
.bbq .container .text {
    width: 50%;
    text-align: justify;
}
.bbq .container .image {
    display: flex;
}
.bbq .container h2 {
    font-weight: 700;
}
.bbq .container .img {
    position: relative;
    overflow: hidden;
}
.bbq .container .img img {
    cursor: pointer;
    transition: all 0.5s;
}
.bbq .container .img img:hover{
    transform: scale(1.1);
}
.bbq .container .img a {
    position: absolute;
    bottom: 5%;
    left: 70px;
    padding: 5px 10px;
    background-color: #0A0A0A;
    font-size: 13px;
    border-radius: 5px;
    width: 145px;
    text-align: center;
}
.bbq .container .img a:hover {
    background-color: #333232;
    box-shadow: 0px 0px 15px rgb(37, 37, 37);
}
.section-menu .container-fluid {
    margin-top: 50px;
    background-color: #0A0A0A;
}
.section-menu .container-fluid .container {
    padding: 20px 0 40px 0;
    display: flex;
    color: #777770;
}
.section-menu .container-fluid .container .img_menu img {
    margin: 10px;
    filter: grayscale(100%);
    transition: all 1s;
    width: 250px !important;
}
.section-menu .container-fluid .container .text {
    margin: 0 60px;
    padding-top: 20px;
    text-align: justify;
}
.section-menu .container-fluid .container .text h2 {
    color: #C0C0C0;
    margin-bottom: 20px;
}
.section-menu .container-fluid .container .text .button {
    width: 140px;
    padding: 5px 20px;
    border: 2px solid #92979c;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
}
.section-menu .container-fluid .container .text .button a {
    color: #7e8183;
    font-weight: 600;
}
.section-menu .container-fluid .container .text .button:hover {
    background-color: white;
    border: 2px solid white;
}
.section-menu .container-fluid .container .img_menu img:hover {
    filter: grayscale(0%);
}
.restaurant {
    display: flex;
    justify-content: center;
    margin: 40px 0 80px 0;
}
.restaurant-text {
    text-align: justify;
}
.restaurant-text h2 {
    font-weight: 700;
}
.restaurant-text p {
    margin: 25px 0;
}
.restaurant-text a {
    padding: 8px 20px;
    border: 2px solid #7e8183;
    border-radius: 5px;
    color: #7e8183;
    transition: all 0.7s;
}
.restaurant-text a:hover {
    border: 2px solid white;
}
.restaurant-image {
    display: flex;
    justify-content: space-evenly;
}
.restaurant-image img {
    margin: 0 10px;
    width: 46%;
}
.nhapemail_dangky {
    background-image: url(./image/banner-nhahang.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 20px 0;
    filter: grayscale(80%);
}
.nhapemail_dangky-content {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
}
.nhapemail_dangky-content-text {
    color: white;
    text-shadow: 0px 0px 20px gray;
    text-align: center;
}
.nhapemail_dangky-content-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.nhapemail_dangky-content-input input {
    width: 25rem;
    padding: 10px 0px 10px 20px;
    margin: 20px;
    background-color: #ece7e6;
    border: none;
    border-radius: 10px;
    opacity: 0.5;
}
.nhapemail_dangky-content-input button {
    width: 200px;
    height: 50px;
    background-color: yellow;
    border-radius: 10px;
    border: none;
}
.nhapemail_dangky-content-input a {
    color: black;
    font-weight: 700;
}
.nhapemail_dangky-content-input button:hover {
    background-color: #EFECE8;
    box-shadow: 0px 0px 15px #EFECE8;
}
.korea-content_up {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
}
.korea-content_up-image {
    background-image: url(./image/korea-content_up-image.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 350px;
}
.korea-content_up-text {
    width: 60%;
    padding: 0 20px;
    text-align: justify;
}
.korea-content_up-text p {
    margin: 20px 0;
}
.korea-content_down {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 50px 0;
}
.korea-content_down img {
    width: 24%;
}

.settable {
    background-image: url(./image/banner-nhahang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-black {
    opacity: 0.7;
}
.settable-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.settable-text {
    width: 48%;
    color: white;
    padding: 40px 0;
}
.settable-text .goiydatban {
    padding: 0;
}
.settable-text .goiydatban li {
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid gray;
}
.settable-input {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.settable-input .input-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settable-input .input-child input {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0px 10px 5px;
}
.box-input-checkbox {
    display: flex;
    justify-content: space-between;
}
.box-input-checkbox p {
    margin: 5px;
}

.settable-input .datban {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #eccd40;
}
.settable-input .datban a {
    color: black;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}
.settable-input .datban:hover {
    background-color: #EFECE8;
    box-shadow: 0px 0px 15px #EFECE8;
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: rgb(136, 134, 134);
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px 0;
}
.footer p {
    padding: 0;
    margin: 5px;
}
.footer .banquyen button {
    background-color: #333;
    border: none;
    width: 130px;
    border-radius: 5px;
    opacity: 0.6;
    padding: 10px;
}
.footer .banquyen button a {
    padding: 10px 5px;
}
.footer .banquyen button a:hover {
    color: black;
}
.footer .banquyen button:hover {
    box-shadow: 0px 0px 15px white;
    background-color: white;
}
/* responsive */

@media screen and (max-width: 1024px) {
    
    .lienhe {
        display: none;
    }
    .style .container .header .logo a h2 {
        font-size: 20px;
    }
    .bbq .container p {
        margin: 0;
    }
    .bbq .container .img a {
        left: 20%;
    }
    .restaurant-text p {
        margin: 10px 0;
    }
    .nhapemail_dangky-content {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .style {
        position: relative;
        height: auto;
    }
    .style .container .header {
        height: auto;
    }
    .style .container .header .menu {
        padding: 15px;       
    }
    .style .container .header .menu .nav-list {
        display: none;
    }
    .style .container .header .menu .menu_icon {
        display: block !important;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop {
        position: absolute;
        display: none;
        top: 70px;
        left: 0;
        width: 768px;
        height: auto;
        background-color: #494848;
        z-index: 1;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop .nav_icon_drop li {
        padding: 16px 20px;
        list-style: none;
        border-bottom: 1px solid #666666;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop .nav_icon_drop a {
        padding: 17px 83% 17px 0;
    }
    .style .container .header .menu:hover .menu_icon_drop {
        display: block;
    }
    .bbq .container {
        display: flex;
        flex-direction: column;
    }
    .bbq .container .text {
        width: 100%;
    }
    .bbq .container .image {
        margin: 20px 0;
    }
    .bbq .container .img a {
        left: 15%;
        width: 200px;
        height: 50px;
        padding: 0;
        line-height: 45px;
    }
    .section-menu .container-fluid .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-menu .container-fluid .container .button {
        margin: 20px 0;
        width: 100% !important;
    }
    .section-menu .container-fluid .container .img_menu img {
        filter: grayscale(0%);
    }
    .restaurant-content {
        flex-direction: column;
    }
    .restaurant-text, .restaurant-image {
        width: 100% !important;
    }
    .restaurant-image {
        padding: 20px 0;
    }
    .restaurant-image img {
        width: 45%;
    }
    .korea-content_up {
        display: flex;
        align-items: center;
        margin: 0;
    }
    .korea-content_up-text {
        padding-right: 0;
    }
    .settable-content {
        flex-direction: column;
    }
    .settable-text, .settable-input {
        width: 100%;
    }
    .settable-text, .settable-input .datban {
        width: 100%;
    }
}