html a {
    text-decoration: none;
    color: white;
}
strong {
    color: #666666;
}
.style {
    width: 100%;
    height: 100px;
    background-color: #0A0A0A;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;  
}
.header .logo {
    cursor: pointer;
    user-select: none;
}
.menu {
    display: flex;
    align-items: center;
}
.menu .nav-list {
    display: flex;
    margin: 0;
}
.nav-list li {
    padding: 20px;
    list-style: none;
    transition: all 0.8s;
}
.nav-list li:nth-child(1) {
    background-color: #494848;
    border-radius: 10px;
}
.lienhe {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.nav-list li:hover, .lienhe:hover {
    background-color: #494848;
    border-radius: 10px;
}
.up img {
    width: 100%;
    margin: 0px auto;
}
.down img {
    width: 100%;
}
.bbq .container {
    display: flex;
    align-items: center;
}
.bbq .container .text {
    width: 50%;
    text-align: justify;
}
.bbq .container .image {
    display: flex;
}
.bbq .container h2 {
    font-weight: 700;
}
.bbq .container .img {
    position: relative;
    overflow: hidden;
}
.bbq .container .img img {
    cursor: pointer;
    transition: all 0.5s;
}
.bbq .container .img img:hover{
    transform: scale(1.1);
}
.bbq .container .img a {
    position: absolute;
    bottom: 5%;
    left: 70px;
    padding: 5px 10px;
    background-color: #0A0A0A;
    font-size: 13px;
    border-radius: 5px;
    width: 145px;
    text-align: center;
}
.bbq .container .img a:hover {
    background-color: #333232;
    box-shadow: 0px 0px 15px rgb(37, 37, 37);
}
.section-menu .container-fluid {
    margin-top: 50px;
    background-color: #0A0A0A;
}
.section-menu .container-fluid .container {
    padding: 20px 0 40px 0;
    display: flex;
    color: #777770;
}
.section-menu .container-fluid .container .img_menu img {
    margin: 10px;
    filter: grayscale(100%);
    transition: all 1s;
    width: 250px !important;
}
.section-menu .container-fluid .container .text {
    margin: 0 60px;
    padding-top: 20px;
    text-align: justify;
}
.section-menu .container-fluid .container .text h2 {
    color: #C0C0C0;
    margin-bottom: 20px;
}
.section-menu .container-fluid .container .text .button {
    width: 140px;
    padding: 5px 20px;
    border: 2px solid #92979c;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    user-select: none;
}
.section-menu .container-fluid .container .text .button a {
    color: #7e8183;
    font-weight: 600;
}
.section-menu .container-fluid .container .text .button:hover {
    background-color: white;
    border: 2px solid white;
}
.section-menu .container-fluid .container .img_menu img:hover {
    filter: grayscale(0%);
}

/* responsive */

@media screen and (max-width: 1024px) {
    
    .lienhe {
        display: none;
    }
    .style .container .header .logo a h2 {
        font-size: 20px;
    }
    .bbq .container p {
        margin: 0;
    }
    .bbq .container .img a {
        left: 20%;
    }
}
@media screen and (max-width: 768px) {
    .style {
        position: relative;
        height: auto;
    }
    .style .container .header {
        height: auto;
    }
    .style .container .header .menu {
        padding: 15px;       
    }
    .style .container .header .menu .nav-list {
        display: none;
    }
    .style .container .header .menu .menu_icon {
        display: block !important;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop {
        position: absolute;
        display: none;
        top: 70px;
        left: 0;
        width: 768px;
        height: auto;
        background-color: #494848;
        z-index: 1;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop .nav_icon_drop li {
        padding: 16px 20px;
        list-style: none;
        border-bottom: 1px solid #666666;
    }
    .style .container .header .menu .menu_icon .menu_icon_drop .nav_icon_drop a {
        padding: 17px 83% 17px 0;
    }
    .style .container .header .menu:hover .menu_icon_drop {
        display: block;
    }
    .bbq .container {
        display: flex;
        flex-direction: column;
    }
    .bbq .container .text {
        width: 100%;
    }
    .bbq .container .image {
        margin: 20px 0;
    }
    .bbq .container .img a {
        left: 15%;
        width: 200px;
        height: 50px;
        padding: 0;
        line-height: 45px;
    }
    .section-menu .container-fluid .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .section-menu .container-fluid .container .button {
        margin: 20px 0;
        width: 100% !important;
    }
    .section-menu .container-fluid .container .img_menu img {
        filter: grayscale(0%);
    }
}
